svg text {
    stroke: #ffffff;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 5;
    -webkit-animation: textAnimate 5s infinite alternate;
            animation: textAnimate 5s infinite alternate;
}

@-webkit-keyframes textAnimate {

    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: -20%;
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
    
}

@keyframes textAnimate {

    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: -20%;
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
    
}

.loader-container {
    position: fixed;
    font-family:arial;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: rgb(32, 143, 22);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.loader-container.fade-out{
    opacity:0;
    z-index: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}